

@media (max-width: 320px) {
	.course-list{
		margin-top:50px;
	}
}
@media (min-width: 321px) and (max-width: 575.98px) {
	.course-list{
		margin-top:70px;
	}
}
@media (min-width: 576px) and (max-width: 682px) {
	.course-list{
		margin-top:50px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 24% !important;
	}
	.logo {
		max-width: 200px !important;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.logo {
		max-width: 250px !important;
	}
}

@media (min-width: 1200px) {

}


.con1 {
	width: 50%;
}

.con2 {
	width: 50%;
}
.course-list {
	border: 1px solid rgb(70, 176, 247);
	box-shadow: 3px 3px 10px -3px rgb(70, 176, 247);
	/* width: 300px; */
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 0px 0px 20px 0px; */
	border-radius: 5px;
	/* margin-left: 20px; */
	/* position: fixed; */
}
.list {
	cursor: pointer;
	width: 100%;
	padding: 10px 20px 10px 50px;
}
.list:hover {
	color: #fff;
	background-color: rgb(70, 176, 247);
}
.title-list {
	font-size: 20px;
	width: 100%;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
	background-color: rgb(70, 176, 247);
	padding: 10px 0px 10px 0px;
}

.carousel-item.active {
	max-height: 448px !important;
	/* border-radius: 5px !important; */
}

.carousel-inner {
	border: 1px solid rgb(70, 176, 247);
	box-shadow: 3px 3px 10px -3px rgb(70, 176, 247);
	border-radius: 5px !important;
}

.logo {
	max-width: 320px;
}

