@media (min-width: 768px) {
	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 24% !important;
	}
}

.con1 {
	width: 50%;
}

.con2 {
	width: 50%;
}
.course-list {
	border: 1px solid #44c0e2;
	box-shadow: 3px 3px 10px -3px #78e1f4;
	width: 300px;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;
  border-radius: 5px;
	margin-left: 20px;
	position: fixed;
}
.list {
	cursor: pointer;
  width: 100%;
  padding: 10px 20px 10px 50px;
}
.list:hover {
	color: #fff;
  background-color: #5bc2e1;

}
.title-list {
	font-size: 20px;
	width: 300px;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
	background-color: #5bc2e1;
	padding: 10px 0px 10px 0px;

}
