
.btn-submit {
	border: none !important;
	font-size: 25px !important;
	margin-top: 10px;
	width: 100%;
	border-radius: 30px !important;
	background: #5bc2e1;
	background: linear-gradient(to right, #44c0e2, #78e1f4);
	color: white;
	padding: 3px 0 3px 0 !important;
	box-shadow: 3px 3px 10px -3px #cacaca;
}
.btn-submit:active {
	background: linear-gradient(to right, #44c0e2, #78e1f4) !important;
	background: #5bc2e1;
}

.css {
  color: #44c0e2;
  width: 10px;
}