.fullCard{
  width: auto;
  height: auto;
  margin: 0px 0px 20px 0px;
}
.fullCard:hover{
  border: 1px solid rgb(70, 176, 247) !important;
  box-shadow: 3px 3px 10px -3px #0ba5ec !important;
}
.ma{
margin: 10px;
}

.card{
  border: 1px solid rgb(70, 176, 247) !important;
  box-shadow: 3px 3px 10px -3px rgb(70, 176, 247) !important;
}

.btn-vdi{
  background-color: rgb(70, 176, 247) !important ;
  color: aliceblue !important;
  border-color: rgb(70, 176, 247) !important;
  background-image: linear-gradient(270deg,rgb(113, 104, 241),rgb(70, 176, 247));
}

.btn-vdi:hover{
  box-shadow: 3px 3px 10px 1px rgb(70, 176, 247);
}
.card-img-top{
  height: 220px;
}